#test {
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  max-width: 50%;
  margin: 0 auto;
}

#types {
  margin-top: 2em;
  padding: 0;
}
#types li {
  display: inline;
  padding: 0.75em 1em;
  border-radius: 5px;
  background-color: cadetblue;
}
